$hero-height: 80vh;

.hero-section {
  background: linear-gradient(to top, rgba(236, 31, 39, .9), rgba(255, 255, 255, .9)), url('../img/13.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}
.special {
    color: #ec1f27;
    text-shadow: none;
    background-color: white;
}
.special:hover {
    color: white;
    background-color: black;
}
h1.title {
    font-size: 4rem;
}

$subhero-height: 40vh;

.subhero-section {
  background: linear-gradient(to top, rgba(236, 31, 39, .9), rgba(255, 255, 255, .9)), url('../img/13.jpg') 50% no-repeat;
  background-size: cover;
  height: $subhero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;

  .subhero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}
$bighero-height: 100vh;

.bighero-section {
  background: linear-gradient(to top, rgba(236, 31, 39, .9), rgba(255, 255, 255, .9)), url('../img/13.jpg') 50% no-repeat;
  background-size: cover;
  height: $bighero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.portion {
  @include push-center;
  margin: 3vh;
}
$full-screen-bg: url('https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
$full-screen-bg-size: cover;
$full-screen-text-color: $white;

.full-screen {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $white;   /*$full-screen-bg;*/
  background-size: $full-screen-bg-size;
}

.full-screen1 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $second-red;   /*$full-screen-bg;*/
  background-size: $full-screen-bg-size;
}
.full-screen2 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $third-red;   /*$full-screen-bg;*/
  background-size: $full-screen-bg-size;
}

.author {
  margin: 5vh;
}