<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left"><a href="/index.html"><img class="logo" src="/assets/img/bar_logo50.png" alt="Mission Critical Publishing" /></a></div>
      <div class="title-bar-right">
        <ul class="menu align-right">         
        <li class="menu-item"><a href="/about.html">About MCP</a></li>
        <li class="menu-item"><a href="/apply.html">Apply Now</a></li>
        <li class="menu-item"><a href="/worlds.html">MCP Worlds</a></li>
        <li class="menu-item"><a href="/authors.html">MCP Authors</a></li>
        <li class="menu-item"><a href="/faq.html">FAQ</a></li>
        <li class="menu-item"><a href="/news.html">News</a></li>
        <li class="menu-item"><a href="/contact.html">Contact</a></li>
        </ul>
    </div>
    </div>
  </div>
